<!--Plan Route-->
<div class="view view-main">
    <div data-page="plan_route"class="page">
        <div class="navbar">
            <div class="navbar-inner" style="padding:0;">
                <div class="left">
                    <a href="#home" class="link icon-only back">
                        <i class="icon icon-back"></i>&nbsp&nbsp</a>
                </div>
                <div class="center sliding">
                    Plan Route
                </div>
            </div>
        </div>

        <div class="page-content">
            <form class="searchbar searchbar-init" style="margin-top:45px">
                <div class="searchbar-input" >
                    <input id="source" type="search" placeholder="Start" >
                    <a href="#" class="searchbar-clear"></a>
                </div>
            </form>
            <br>
            <form class="searchbar searchbar-init">
                <div class="searchbar-input">
                    <input id="destination" type="search" placeholder="Destination" >
                    <a href="#" class="searchbar-clear"></a>
                </div>
            </form>
            <a href="#home" onclick="route()" class="button button-big button-round active">Plan Route</a>
        </div>
    </div>
</div>
