<!-- RecordCPInfo -->
<div class="view view-main">
    <div data-page="recordCP" class="page cached">
        <div class="navbar">
            <div class="navbar-inner">
                <!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
                <div class="left">
                    <a href="#home" class="link icon-only back">
                        <i class="icon icon-back "></i>
                    </a>
                </div>

                <div class="center sliding">Record Carpark Lot Information</div>

            </div>
        </div>
        <!-- Scrollable page content -->
        <div class="page-content">
            <div class="content-block-title" style="margin-top:60px;">Select Carpark:</div>
            <div class="list-block">
                <ul>
                    <li class="item-content">
                        <div class="item-inner" style="width: 60%;">
                            <p style="margin:auto; width:100%; text-align:left;" id="xferback"></p>
                        </div>
                        <div class="item-inner" style="width: 40%; margin:0 auto;">

                            <!-- <a href="#" data-picker=".picker-1" class="open-picker">Open Picker</a> -->
                            <!-- <a href="#search" style="margin-left: auto">Search</a> -->
                            <a href="views/SearchCarparkUI.html" style="margin-left: auto">Search</a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Picker -->
            <div class="picker-modal picker-1">
                <div class="toolbar">
                    <div class="toolbar-inner">
                        <div class="left"></div>
                        <div class="right"><a href="#" class="close-picker">Done</a></div>
                    </div>
                </div>
                <div class="picker-modal-inner">
                    <div class="content-block">
                        <h4>Info 1</h4>
                        <p>Lorem ipsum dolor...</p>
                    </div>
                </div>
            </div>

            <div class="content-block-title">Carpark Lot Picture:</div>
            <div class="swiper-container swiper-1">
                <div class="swiper-pagination"></div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="dist\noimage.png" style="width:90%; border-style:solid; border-radius: 5px; margin-left:5%;"></div>
                </div>
            </div>

            <div class="row center">
                <div class="col-70" style="margin:0 auto;">
                    <a href="#" class="button button-big button-red" disabled>No Camera Detected</a>
                </div>
            </div>

            <div class="content-block-title">Time Elapsed:</div>
            <div class="list-block">
                <ul>
                    <li class="item-content">
                        <div class="item-inner" style="width: 60%;">
                            <p style="margin:auto; width:100%; text-align:left;" id="timer">Press to start!</p>
                        </div>
                        <div class="item-inner" style="width: 40%; margin:0 auto;">
                            <a href="#" onClick="resetTimer()" style="margin-left: auto">Reset Time</a>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">Current Fees:</div>
                            <div class="item-after resizable"  id="fee">$0.00</div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="content-block-title">Additional Details:</div>
            <div class="list-block" style="margin-bottom:5px;">
                <ul>
                    <li class="item-content">
                        <div class="item-content" style="width: 100%; padding: 0px;">
                            <div class="item-inner" style="padding: 0px;>
							  <div class="item-input>
                                <textarea class="resizable"></textarea>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- <div class="row center"> -->
                <!-- <div class="col-70" style="margin:0 auto;"> -->
                <!-- <a href="#" class="button button-big button-red">Save Additional Details</a> -->
                <!-- </div> -->
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>