<div class="view view-main">
    <div data-page = "home" class = "page navbar-fixed">
        <div class="statusbar-overlay"></div>
        <div id="pac-card" class="navbar">
            <div class="navbar-inner" style="padding:0;">

                <a href="#" data-popover=".popover-links" class="link open-popover"  style="margin-left:10px;"><i class="icon icon-bars size-20"></i>&nbsp&nbsp</a>
                <form class="searchbar">
                    <div class="searchbar-input">
                        <input id="searchBox" type="search" placeholder="Search" >
                        <a href="#" class="searchbar-clear"></a>
                    </div>
                    <a href="#" class="searchbar-cancel">Cancel</a>
                </form>
            </div>
        </div>

        <div class="page-content">
            <div id="map-container" style="height:100%"></div>
            <a href="#plan_route" style="right:3%; bottom:3%;" class="floating-button color-blue">
                GO
            </a>
            <a href="#" id="clearBtn" onclick="resetRoute()" style="left:3%; bottom:3%; display:none;" class="floating-button color-red">Clear</a>
        </div>
    </div>
</div>